<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="to.msn.wings.sample">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/yugioh"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Player1_screen"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Menu"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Dice_screen"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Image_setting"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Gallery"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Life_background"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DB"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DB_Life"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Photo"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Picture"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CointosActivity"
            android:screenOrientation="landscape" />
        <!--<activity-->
            <!--android:name=".TutorialActivity"-->
            <!--android:theme="@style/WelcomeScreenTheme"></activity>-->
        <activity android:name=".Tutorial_test"></activity>
    </application>

</manifest>