<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="to.msn.wings.sample">

    <application
        android:allowBackup="true"
        android:icon="@drawable/yugioh"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Player1_screen"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Player2_screen"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Menu"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Coin1_screen"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Coin2_screen"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Coin3_screen"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Coin_menu"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Dice_screen"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Image_setting"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Life_setting"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Gallery"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Damage_setting"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Life_background"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".DB"
            android:screenOrientation="landscape">
        </activity>



    </application>
</manifest>